export(aes_all)
export(aes_default)
export(aes_icon)
export(aes_present)
export(aes_required)
export(build_defaults)
export(geom_adjust)
export(geom_bar)
export(geom_data)
export(geom_line)
export(geom_name)
export(geom_path)
export(geom_plot)
export(geom_point)
export(geom_premunch)
export(geom_raster)
export(geom_rect)
export(geom_ribbon)
export(geom_rug)
export(geom_segment)
export(geom_stat)
export(geom_step)
export(geom_text)
export(geom_tile)
export(geom_visualise)
export(stat_contour)
export(stat_density)
export(stat_identity)
export(stat_sum)
export(stat_transform)
import(plyr)
import(scales)
importFrom(grDevices,contourLines)
importFrom(MASS,kde2d)
importFrom(plyr,rbind.fill)
importFrom(reshape2,acast)
importFrom(scales,fullseq)
S3method(aes_default,bar)
S3method(aes_default,geom)
S3method(aes_default,path)
S3method(aes_default,polygon)
S3method(aes_default,raster)
S3method(aes_default,rect)
S3method(aes_default,ribbon)
S3method(aes_default,segment)
S3method(aes_default,text)
S3method(aes_default,tile)
S3method(aes_icon,bar)
S3method(aes_icon,geom)
S3method(aes_icon,line)
S3method(aes_icon,path)
S3method(aes_icon,polygon)
S3method(aes_icon,raster)
S3method(aes_icon,rect)
S3method(aes_icon,ribbon)
S3method(aes_icon,segment)
S3method(aes_icon,step)
S3method(aes_icon,tile)
S3method(aes_present,density)
S3method(aes_present,path)
S3method(aes_required,bar)
S3method(aes_required,contour)
S3method(aes_required,density)
S3method(aes_required,identity)
S3method(aes_required,path)
S3method(aes_required,polygon)
S3method(aes_required,raster)
S3method(aes_required,rect)
S3method(aes_required,ribbon)
S3method(aes_required,rug)
S3method(aes_required,segment)
S3method(aes_required,text)
S3method(aes_required,tile)
S3method(geom_adjust,bar)
S3method(geom_adjust,default)
S3method(geom_data,bar)
S3method(geom_data,default)
S3method(geom_data,line)
S3method(geom_data,path)
S3method(geom_data,step)
S3method(geom_data,tile)
S3method(geom_grob,bar)
S3method(geom_grob,path)
S3method(geom_grob,polygon)
S3method(geom_grob,rect)
S3method(geom_grob,ribbon)
S3method(geom_grob,rug)
S3method(geom_grob,segment)
S3method(geom_grob,text)
S3method(geom_premunch,bar)
S3method(geom_premunch,default)
S3method(geom_premunch,rect)
S3method(geom_premunch,segment)
S3method(geom_range,bar)
S3method(geom_range,default)
S3method(geom_range,raster)
S3method(geom_range,rect)
S3method(geom_range,ribbon)
S3method(geom_range,segment)
S3method(geom_range,tile)
S3method(geom_stat,bar)
S3method(geom_stat,default)
S3method(geom_visaulise,text)
S3method(geom_visualise,path)
S3method(geom_visualise,ribbon)
S3method(stat_by_group,identity)
S3method(stat_post_transform,contour)
S3method(stat_ranges_needed,contour)
S3method(stat_transform,contour)
S3method(stat_transform,density)
S3method(stat_transform,identity)
S3method(stat_transform,sum)
